langchain==0.0.184
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
openai==0.27.6
faiss-cpu==1.7.4

# uncomment to use huggingface llms
huggingface-hub==0.14.1

# uncomment to use instructor embeddings
InstructorEmbedding==1.0.1
dsentence-transformers==2.2.2


#==========
# pip install langchain==0.0.184
# pip install PyPDF2==3.0.1
# pip install python-dotenv==1.0.0
# pip install streamlit==1.18.1
# pip install openai==0.27.6
# pip install faiss-cpu==1.7.4
# pip install huggingface-hub==0.14.1
# pip install InstructorEmbedding==1.0.1
# pip install dsentence-transformers==2.2.2